@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Noto Serif JP', serif  - not too bold;
font-family: 'PT Serif', serif;  - a bit bolder */
body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    background-color: antiquewhite;
}

.firework-img{
    width: 100%;
}
.container{
    padding: 10% 2%;
}
p{
    font-size: 14px;
}

.time-format{
    width: 90px;
    height: 90px;
    background-color: #282846;
}
.happy-time{
    text-align: center;
    padding: 30px;
}