@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Noto Serif JP', serif;
font-family: 'PT Serif', serif; */
body{
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    margin: 0;
    min-height: 500px;
    background-color: #e9896a;
}


.container{
    padding: 20% 10%;
}